# PORT 443 SSL CONFIG
# *******************

<IfModule mod_ssl.c>
<VirtualHost *:{{ https_port }}>
DocumentRoot /var/www/{{ domain_name }}
ServerName {{ domain_name }}
ServerAlias www.{{ domain_name }}
<Directory "/var/www/{{ domain_name }}">
Options +Includes
Options +FollowSymLinks -Indexes
</Directory>

SSLCertificateFile /etc/letsencrypt/live/{{ domain_name }}/cert.pem
SSLCertificateKeyFile /etc/letsencrypt/live/{{ domain_name }}/privkey.pem
Include /etc/letsencrypt/options-ssl-apache.conf
SSLCertificateChainFile /etc/letsencrypt/live/{{ domain_name }}/chain.pem
</VirtualHost>
</IfModule>

# PORT 80 REDIRECT CONFIG
# ***********************

<VirtualHost *:{{ http_port }}>
ServerName {{ domain_name }}
ServerAlias www.{{ domain_name }}
Redirect permanent / https://{{ domain_name }}
</VirtualHost>
