<VirtualHost *:{{ http_port }}>
	ServerName {{ domain_name }}

	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/{{ domain_name }}

	ErrorLog /var/log/apache2/{{ domain_name }}_error.log
	CustomLog /var/log/apache2/{{ domain_name }}_access.log combined
</VirtualHost>
